.restaurant-item {
    display: flex;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, .3);
    padding: 5px;
    margin-right: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    justify-content: space-between;
    max-width: 400px;
}

.restaurant-delete-btn {
    margin-left: 10px;
}