.table-page {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, .03);
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    margin: 10px 10px;
    transition: background-color 0.5s ease;
    max-width: 50vw;
}

.table-size, .table-btn {
    margin: 20px 20px 20px 0 !important;
}

.table-page:hover {
    background-color: rgba(0, 0, 0, .01);
}